:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Quicksand',sans-serif
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, #ddd6f3, #f59e99); /* Gradient background for the body */

}

@media screen and (max-width: 767px) {
  body {
    min-height: auto;
  }
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@media (prefers-color-scheme: light) {
  :root {
    color: rgba(255, 255, 255, 0.87);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@media screen and (max-width: 767px) {
  body {
    min-width: auto; /* or any other suitable value */
  }
}
